<% if  @erb_code %>
  <%= render inline: ERB.new(@erb_code).result(binding) %>
  
<% else %>

<h4><%=@title %></h4>
  <table class="table table-striped">
    <tr>
      <th><%= t('Create Date') %></th>
      <th><%= t('Brief Note') %></th>
      <th><%= t('Ranking Index') %></th>
      <th><%= t('Active') %></th>
      <th></th>
    </tr>

    <% models.each do |qs| %>
        <tr>
          <td><%= (qs.created_at + H_FROM_GMT.hours).strftime("%Y/%m/%d")%></td>
          <td><%= link_to qs.name, definition_path(qs) %></td>
          <td><%= qs.brief_note %></td>
          <td><%= qs.ranking_index %></td>
          <td><%= qs.active ? t('Yes') : t('No') %></td>
          <td><%= link_to t('Edit'), edit_sub_definition_path(qs, :subaction => session[:subaction], :definition_id => qs.definition_id, format: :js), 
                  remote: true, :class => BUTTONS_CLS['action'] if has_action_right?('update_' + @definition.for_which, 'two_tier_definitionx/definitions', qs) %></td>
        </tr>
    <% end %>

  </table>

	<table class="table table-striped">
	  <tr>
	    <th>
	    	<%= link_to t('Back'), SUBURI + "/view_handler?index=0", :id => 'close', :class => BUTTONS_CLS['action'] %>
	    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    	<%= link_to t("New Sub Category"), new_sub_definition_path(:definition_id => @definition.id, subaction: @definition.for_which, :format => :js), :remote => true, id: 'new_sub', :class => BUTTONS_CLS['action'] if @definition && has_action_right?('create_' + @definition.for_which, 'two_tier_definitionx/definitions') %>   
		</th>
	  </tr>
	</table>

<% end %>	
