<% if  @erb_code %>
  <%= render inline: @erb_code %>
  
<% else %>
  <h4><%=t('Update ' + @for_which.sub('_', ' ').titleize) %></h4>

<%= simple_form_for @definition do |f| %>    
  
  <%= f.input :name, :label =>  t(@for_which.sub('_', ' ').titleize + ':'), :readonly => readonly?(@definition, 'name') %>
  <%= f.input :brief_note, :label => t("Brief Note:"), :input_html => {:rows => 6}, :readonly => readonly?(@definition, 'brief_note') %> 
  <% if readonly?(@definition, 'active')%>
    <%= f.input :active_noupdate, :label => t('Active:'), :readonly => true, :required => false, :input_html => {:value => @definition.active} %>
  <% else %>
    <%= f.input :active, :label => t('Active:'), :collection => [[t('Yes'), true], [t('No'), false]]%>
  <% end %>
  <%= f.input :ranking_index, :label => t('Ranking Index'), :placehoder => '1, 2, 3 ...', :readonly => readonly?(@definition, 'ranking_order') %> 
  <b><%=t('Sub Definition')%></b>
  <%= f.fields_for :sub_definitions, @definition.sub_definitions do |builder| %>
    <p><%= render('sub_definitions', :f => builder)%></p>  
  <% end %> 
  <p><%= link_to_add_fields t("Add Sub Definition"), f, :sub_definitions %></p>
  
  <%= link_to t('Back'), definitions_path(:for_which => @for_which), :class => BUTTONS_CLS['action'] %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;        
  <%= f.button :submit, I18n.t('Save'), :class => BUTTONS_CLS['action'] %>  
<% end %>

<% end %>
