<% if @view_in_config && @erb_code_field %>
  <%= render inline: ERB.new(@erb_code_field).result(binding) %>
  
<% else %>
<div class="fields">
	
  <%= f.input :name, :label => t('Name') %>
  <%= f.input :active, :label => t("Active"), :collection => [[t('Yes'), true], [t('No'), false]] %>
  <%= f.input :ranking_index, :label => t("Ranking Index") %> 
  <%= f.input :brief_note, :label => t("Brief Note")%>

  <%= link_to_remove_fields t("Delete Sub Definition"), f %>
</div>

<% end %>
