<% if @view_in_config && @erb_code_field %>
  <%= render inline: ERB.new(@erb_code_field).result(binding) %>
  
<% else %>
<div class="fields">
	
  <%= f.input :name, :label => t('Name'), :readonly => true %>
  <%= f.input :brief_note, :label => t(''), :input_html => {:rows => 1}, :readonly => true %>
  <%= f.input :unit_price, :label => t("Unit Price($)"), :readonly => true %> 
  <%= f.input :active, :label => t("Active"), :collection => :collection => [[t('Yes'), true], [t('No'), false]], :selected => true %>
  <%= f.input :ranking_index, :label => t("Ranking Index") %> 
  <%= f.input :brief_note, :label => t("Brief Note")%>

  <%= link_to_remove_fields t("Delete Item"), f %>
</div>

<% end %>
